#basic-layout {
    height: 100%;
}

#basic-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#basic-layout .trigger:hover {
    color: #1890ff;
}

#basic-layout .logo {
    height: 40px;
    background: url(../../assets/logo_small.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 16px;
}