#basic-layout {
    height: 100%;
}

#basic-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#basic-layout .trigger:hover {
    background: #e6f7ff;
    transition: background .3s;
}

#basic-layout .logo {
    height: 60px;
    background: url(../../assets/logo_small.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 16px;
}