.add-subject-container {
    padding: 24px 0;
    .score {
        margin: 0 12px;
    }
    .subject-label {
        padding: 0 0 12px;
    }
    .hint {
        color: #a2a2a2;
        padding: 12px 0;
        font-size: 14px;
    }
}