.card-list {
    .card {
        &:hover {
            cursor: pointer;
        }
        .add-new-card {
            text-align: center;
        }
        .ant-card-cover img {
            width: 100%;
        }
    }
}